{% extends "index.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row" style="height:500px;">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">EC2 Instances Status</h4>
      </div>
      <div class="card-body" >
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Creation Date
                </th>
              </tr>
            </thead>
            <tbody>
              {% for bucket in buckets %}
              <tr>
                <td>
                  {{bucket["name"]}}
                </td>
                <td>
                  {{bucket["creation_date"]}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
