

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://www.creative-tim.com/product/black-dashboard-flask" class="simple-text logo-mini">
            PI
          </a>
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://www.creative-tim.com/product/black-dashboard-flask" class="simple-text logo-normal">
            AWS Console
          </a>
        </div>

        <ul class="nav">

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>EC2 instances</p>
            </a>
          </li>
          <li class="active">
            <a href="/s3-dashboard">
              <i class="tim-icons icon-basket-simple"></i>
              <p>S3 buckets</p>
            </a>
          </li>
          <li class="active">
            <a href="/add-instance">
              <i class="tim-icons icon-simple-add"></i>
              <p>Add Instance</p>
            </a>
          </li>
          <li class="active">
            <a href="/monitor-instance">
              <i class="tim-icons icon-zoom-split"></i>
              <p>Monitor Instance</p>
            </a>
          </li>
                    
        </ul>
        
      </div>
    </div>
